<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/styles.css">
  <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-header">
        <p class="navbar-brand">MOVIE APP</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a class="nav-anchor" href="/">HOME</a></li>
          <li id="about"><a class="nav-anchor" href="tasks">LOGIN</a></li>
        </ul>
  </nav>

  <body>