<%- include ('./partials/header'); %>

    <h1>Welcome to the movie app!</h1>
    <img class="movie-logo" src="https://thumbs.dreamstime.com/b/popcorn-movie-time-vector-design-shop-logo-popcorn-movie-time-vector-design-180616567.jpg" alt="movie-logo">

<%- include ('./partials/footer'); %>