<%- include ('./partials/header'); %>

    <h1>Welcome to the movie app!</h1>
    <div class="poster-container">
        <% for (let i=0; i < moviePosters.length; i++){ %>
            <div class="poster-item">
                <img src="<%= moviePosters[i] %>" alt="poster-img"> 
            </div>
            <% } %>
    </div>

    <%- include ('./partials/footer'); %>