<%- include ('./partials/header-log'); %>

    <h1>Your Watchlist</h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
      </form>

<%- include ('./partials/footer'); %>